/* body {
    background-color: lightgrey;
    background-image: url("../images/background-img.jpg");
} */

body {
    background-color: lightgrey;
    background-image: url("/assets/images/background-img.jpg");
}

h2 {
    color: orangered;
}

p {
    font-weight: bold;
}